body {
    margin: 0;
    padding: 0;
  }

.tahoeimage-container {
    position: relative;
}

.myname-caption {
    position: absolute;
    top: 30%;
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 70px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.tahoeimage-caption {
    position: absolute;
    top: 90%;
    left: 15%; Adjust the left position as needed
    transform: translate(-50%, -50%);
    padding: 10px;
    font-size: 30px;
    color: black;
    font-weight: bold;
    text-align: center;
    background-color:  rgb(205, 218, 218, 0.700);
}
  
  /* Style for the navbar */
  .navbar {
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(205, 218, 218);
    display: flex;
    justify-content: center;
}

/* Style for the navbar links */
.navbar li {
    margin: 0px 40px;
    list-style-type: none;
  }

  
  /* Center the image in the container */
  .tahoeimage-container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  #about-me,
  #work,
  #skills {
    background-color: rgb(223, 223, 223);
  }

  #section-title {
    font-weight: bolder;
    font-size: 20px;
    text-decoration-line: underline;
  }

  ul::after {
    list-style-position: outside;    
    padding-left: 70px;    
  }

  ul li {
    list-style-type: square;
  }

  #resume {
    margin-left:50px;
  }

  #about-me-column {
    margin-left:30px;
  }

  #contact-me {
    list-style: none;
    margin: 0px 400px;
    padding: 10px 20px;
    position: absolute;
    top: 2695px;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
  }
