* {
    box-sizing: border-box;
    display: inline-block
}

body {
    background-color: #eaece7;
}

header {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    width:100%;
}

#whitecolor {
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

header nav {
    padding-top: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline-block;
    justify-content: space-around;
}

.tahoe {
    height: 800px;
    width: 100%;
    margin-right:0%;
    background-image: url("../images/tahoe.jpg");
    background-size: cover;
    background-position: center;
}

.message {
    font-weight:bold;
    font-style:italic;
}

.titles {
    width: 100%;
    display: inline-block;
    margin-left: 20px;
}

#about-me,
#work,
#education,
#skills,
#projects {
    margin-bottom: 30px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    max-height: 50px;
}

.headshot {
    height: 100px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/headshot.jpg");
    background-size: cover;
    background-position: center;
    float: right;
}

.flexbox {
    display:flex;
}

#about-me {
    padding-bottom: 310px;
}

#work {
    padding-bottom: 235px;
    width: 100%;
}

#education,
#skills,
#projects {
    padding-bottom: 270px;
}

h2, h3 {
    font-size: 36px;
}

p,
ol li {
    margin-bottom: 10px;
    font-size: 18px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

header a {
    color:white;
    padding: 15px;
}

/* Did not finish the assignemnet yet*/